body{
	background:white;
	height:800px;
	position: absolute;

}
header{
	height: 100px;
	margin-top: 100px;
	margin-left: 500px;
}
main{
	height: 400px;
	width: 100%;
}
section{
	position: absolute;
	left:430px;
	width: 400px;
	height: 425px;
}
table{
	align-self: center;
	border-collapse: collapse;
	border-left:solid 1px orange; 
	border-right:solid 1px orange; 
	border-top:solid 1px orange;
	border-bottom:solid 1px orange; 
}
td{
	height: 50px;
	width: 50px;
}
